@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	display: flex;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	transition: all 0.35s ease-in-out;
	background-color: #fff;
	min-width: 0;
}

#sidebar {
	width: 70px;
	min-width: 70px;
	z-index: 1000;
	transition: all 0.25s ease-in-out;
	background-color: #5381f5;
	display: flex;
	flex-direction: column;
}

#sidebar.expand {
	width: 260px;
	min-width: 260px;
}

#toggle-btn {
	background-color: transparent;
	cursor: pointer;
	border: 0;
	padding: 1rem 1.5rem;
}

#toggle-btn i {
	font-size: 1.5rem;
	color: #fff;
}

.sidebar-logo {
	margin: auto 0;
}

.sidebar-logo a {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
	display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
	animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.sidebar-nav {
	padding: 2rem 0;
	flex: 1 1 auto;
}

a.sidebar-link {
	padding: 0.625rem 1.625rem;
	color: #fff;
	display: block;
	font-size: 1.2rem;
	white-space: nowrap;
	border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
	font-size: 1.1rem;
	margin-right: 0.75rem;
}

a.sidebar-link:hover {
	background-color: rgba(255, 255, 255, 0.075);
	border-left: 3px solid #ea3232;
}

.sidebar-item {
	position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
	position: absolute;
	top: 0;
	left: 70px;
	background-color: #0e2238;
	padding: 0;
	min-width: 15rem;
	display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
	display: block;
	max-height: 15em;
	width: 100%;
	opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse']::after {
	border: solid;
	border-width: 0 0.075rem 0.075rem 0;
	content: '';
	display: inline-block;
	padding: 2px;
	position: absolute;
	right: 1.5rem;
	top: 1.4rem;
	transform: rotate(-135deg);
	transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse'].collapsed::after {
	transform: rotate(45deg);
	transition: all 0.2s ease-out;
}

.navbar {
	background-color: #79d7d0;
	box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.1);
}

.navbar-expand .navbar-collapse {
	min-width: 200px;
}

.avatar {
	height: 40px;
	width: 40px;
}

.card {
	background-color: #79d7d0 !important;
	transition: 0.4s;
	cursor: pointer;
	color: #000;
	margin-bottom: 1rem;
}

.card:hover {
	background-color: #5381f5 !important;
	color: #fff;
	transform: translateY(-10.5px);
}

.text-succes {
	background-color: #4eed35;
	padding: 0.25rem 0.35rem;
	font-size: 0.715rem;
	color: #fff !important;
	border-radius: 5px;
}

.content {
	flex: 1 1 auto;
}

footer {
	background-color: #7fef83;
	padding: 1rem 0.875rem;
}

body {
	background-color: #f78f98;
}
.centered-div {
	height: 50vh; /* Full viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
}
.confirmation-box {
	padding: 20px;
	border: 2px solid #dc3545;
	border-radius: 10px;
	text-align: center;
}
