.navbar-brand {
	font-weight: bold;
	font-size: 24px;
}
.carousel-item img {
	object-fit: cover;
}
.card-title {
	height: 60px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh !important;
}

.card-text {
	font-size: 14px;
	text-align: center;
}
.price {
	font-size: 16px;
	text-align: center;
}
.strike-price {
	text-decoration: line-through;
	margin-right: 10px;
	color: #888;
}
.discount-price {
	color: #e74c3c;
	font-weight: bold;
}

footer {
	background-color: #343a40;
	color: white;
	padding: 20px 0;
}

.card-body {
	/* display: flex; */
	flex-direction: column;
	align-items: center;
}

.btn-view-details {
	margin-top: auto;
	background-color: #007bff;
	color: white;
	border: none;
}

.btn-view-details:hover {
	background-color: #0056b3;
}
